Identifier("name")
Invisible
Identifier("NAME")
Invisible
Identifier("nAmE")
Invisible
Identifier("_na_me_")
Invisible
Identifier("name123")
Invisible