OpenRound
OpenCurly
CloseCurly
CloseRound
Invisible
OpenCurly
OpenRound
CloseRound
CloseCurly
Invisible
MinusEqual
Invisible
Minus
Invisible
Equal
Invisible